.wrap {
    overflow-x: hidden;
}

.intro {
    height: auto;
    overflow: hidden;
}

.intro_main {
    position: relative;
    margin-bottom: 150px;
}

.intro_main .cont_movie {
    background: url(../img/hyperconnect/image\ \(11\).svg) no-repeat;
    background-position-x: 79%;
}

.intro_main .cont_movie video {
    width: 1200px;
    margin-top: 205px;
    margin-left: 480px;
}

.intro_main .cont_movie img {
    display: none;
    width: 296px;
    height: 164px;
}

.intro_main .cont_txt {
    font-size: 45px;
    position: absolute;
    top: 350px;
    left: 245px;
    letter-spacing: -1px;
    line-height: 1;
}


/*-------------------1st intro_main---------------*/


.cont_company {
    position: relative;
    background: url(../img/hyperconnect/image\ \(2\).svg) no-repeat;
    background-position: bottom right;
    padding-bottom: 700px;
}

.cont_company .cont_bg {
    width: 100%;
    background: url(../img/hyperconnect/bg-ci-hyperconnect-12ec2ad94ba7151c0efdfe5eb334d562.svg) repeat-x;
    background-position: center;
}

.cont_company .cont_info {
    display: flex;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
}

.cont_company .cont_info img {
    width: 80%;
    align-self: center;
    margin-left: 20px;
    min-width: 200px;
}

.cont_company .cont_txt {
    max-width: 1100px;
    margin-left: 50px;
}

.cont_company .cont_txt h3 {
    font-size: 47px;
    line-height: 47px;
    font-weight: 700;
    margin-bottom: 30px;
}

.cont_company .cont_txt p {
    font-size: 20px;
    font-weight: 200;
    color: #222222;
    line-height: 1.8;
    word-break: keep-all;
}


/*-------------------2nd cont_company---------------*/


.cont_vision {
    display: flex;
    justify-content: center;
    padding-bottom: 300px;
}

.cont_vision > div {
    min-width: 55%;
}

/* .img_vision {
    width: 450px;
    height: 450px;
    background-image: url(../img/hyperconnect/hover-proactive.svg);
    background-repeat: no-repeat;
    float: left;
} */

.cont_vision .cont_title {
    display: block;
    min-width: 700px;
    margin-bottom: 45px;
}

.cont_vision .cont_title h3 {
    font-size: 47px;
    line-height: 47px;
}

.cont_vision .cont_txt {
    width: 1100px;
}

.cont_vision .cont_txt img {
    float: left;
    width: 500px;
}

.cont_vision .list_vision {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    width: 800px;
}

.list_vision > li {
    width: 50%;
    height: 200px;
    padding: 35px;
}

.list_vision > li span {
    font-size: 12px;
    font-weight: 600;
}
.list_vision > li h4 {
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 20px;
}
.list_vision > li p {
    font-size: 16px;
}

.list_vision > li:hover {
    background-color: #F2FDFA;
}


/*-------------------3rd cont_vision---------------*/

.cont_welfare {
    position: relative;
    display: flex;
    background: url(../img/hyperconnect/image\ \(3\).svg) no-repeat;
    background-position-x: right;
    min-width: 55%;
    justify-content: center;
    padding-top: 190px;
    padding-bottom: 1400px;
}

.cont_welfare > div > img {
    display: none;
}

.cont_welfare .cont_title {
    display: block;
    min-width: 700px;
    width: 1100px;
    margin-bottom: 130px;
}

.cont_welfare .cont_title h3 {
    font-size: 47px;
    line-height: 47px;
    margin-bottom: 20px;
}

.cont_welfare .cont_title p {
    font-size: 18px;
    font-weight: 100;
    line-height: 1.6;
}

.cont_welfare .cont_slide {
    width: 60%;
    position: absolute;
    top: 530px;
    left: 390px;
}

.cont_welfare .cont_slide .slide_txt {
    font-size: 32px;
    color: #37e5ba;
    margin-bottom: 40px;
}

.slide {
    margin-bottom: 150px;
}

.slide_item {
    display: flex;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.slide_item > div {
    width: 100%;
}

.slide_item h5 {
    font-size: 32px;
    margin-bottom: 20px;
}

.slide_item p {
    font-size: 20px;
}

.slick-track > div {
    padding: 0 130px;
}

.slide_bar button {
    width: 14.285714%;
    height: 5px;
    background-color: #bfbfbf;
    border: none;
    cursor: pointer;
}

.slide_bar button + button {
    margin-left: -5px;
}

.slide_bar button:hover {
    background-color: #000;
}

.slide_life button {
    width: 10%;
}

.slide_growth button {
    width: 16.666666%;
}

.slide_bar button.on {
    background-color: #000;
}

/*-------------------4th cont_end---------------*/

.cont_end {
    background: url(../img/hyperconnect/bg-rounded-bottom-07b1e57cdc0a5650c22ebaef357aaf5e.png) no-repeat;
    background-position-x: -400px;
    height: 1200px;
    display: flex;
    align-items: center;
}

.cont_end .cont_title {
    padding-left: 200px;
}

.cont_end .cont_title h3 {
    font-size: 72px;
    line-height: 1;
    font-weight: 700;
}

.slick-arrow {
    z-index: 2;
}


.slick-prev::before {
    content: url(../img/hyperconnect/slider-arrow.svg);
    transform: scale(.025) rotate(90deg);
    position: absolute;
    top: -280px;
    left: -420px;
    color: rgba(0, 0, 0, 0 );
}
.slick-next::before {
    content: url(../img/hyperconnect/slider-arrow.svg);
    transform: scale(.025) rotate(270deg);
    position: absolute;
    top: -280px;
    right: -420px;
    color: rgba(0, 0, 0, 0 );
}

/* .slick-prev:before {
    content: url(../img/hyperconnect/slider-arrow.svg);
    transform: scale(.05) rotate(90deg) ;
    position: absolute;
}
.slick-next:before {
    content: url(../img/hyperconnect/slider-arrow.svg);
    transform: scale(.05) rotate(270deg);
    position: absolute;
} */



#pop_recruit {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 203px;
    z-index: 999;
    width: 386px;
    height: 92px;
    background-color: #1a1a1b;
    box-shadow: 0 7px 24px 0 rgba(0,0,0,.4);
    border-radius: 50px;
    line-height: 99px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
}

#pop_recruit > span {
    display: block;
    position: absolute;
    top: 25px;
    right: 64px;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background-color: #37E5BA;
}



/*--------------------------end--------------------------*/


@media screen and (max-width:500px){
    header {
        position: static;
    }
    header, .header_wrap {
        width: 100%;
        height: 50px;
    }
    .header_wrap {
        margin-top: 11px;
    }
    .header_wrap > h1 {
        min-width: 100px;
        margin-left: 37px;
        height: 27px;
    }
    nav {
        visibility: hidden;
        height: 0;
        min-width: initial;
        margin-right: 0;
        transition: background-color .5s ease;
    }
    .hamburger_box {
        display: block;
    }
    .intro_main {
        margin: 55px 0 36px;
        padding: 0 32px;
        position: static;
        display: flex;
        flex-direction: column-reverse;
    }
    .intro_main .cont_txt {
        position: static;
        font-size: 1.2em;
        width: 290px;
        top: 110px;
        left: 30px;
        margin-bottom: 28px;
    }
    .intro_main .cont_movie {
        background: none;
    }
    .intro_main .cont_movie video {
        display: none;
    }
    .intro_main .cont_movie img {
        display: block;
    }


    .cont_company {
        padding-bottom: 200px;
        background: none;
    }
    .cont_company .cont_bg {
        background-size: 100% 24px;
        background-repeat: no-repeat;
        background-position: 50%;
    }
    .cont_company .cont_bg img {
        width: 84px;
        height: 128px;
    }
    .cont_company .cont_info {
        position: relative;
        top: auto; left: auto;
        transform: none;
        width: auto;
        flex-direction: column-reverse;
    }
    .cont_company .cont_txt {
        margin-left: 0;
        padding: 0px 32px;
    }
    .cont_company .cont_txt h3 {
        font-size: 20px;
        line-height: 1.6;
        margin-bottom: 15px;
    }
    .cont_company .cont_txt p {
        font-size: 13px;
        letter-spacing: -1px;
    }


    .cont_vision {
        display: block;
        padding-bottom: 160px;
    }
    .cont_vision > div {
        min-width: auto;
        padding: 0 47px;
    }
    .cont_vision .cont_title {
        min-width: auto;
        margin-bottom: 90px;
    }
    .cont_vision .cont_title h3 {
        font-size: 20px;
        line-height: initial;
    }
    .cont_vision .cont_txt {
        width: auto;
    }
    .cont_vision .cont_txt img {
        display: none;
    }
    .cont_vision .list_vision {
        position: static;
        display: block;
        margin-left: 0;
        width: auto;
    }
    .list_vision > li {
        width: auto;
        padding: 0;
        height: auto;
    }
    .list_vision > li:hover {
        background-color: unset;
    }
    .list_vision > li span {
        font-size: 8px;
        font-weight: 700;
    }
    .list_vision > li h4 {
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 0;
        line-height: 1.67;
    }
    .list_vision > li p {
        font-size: 13px;
        margin-bottom: 10px;
        font-weight: 100;
        color: #333333;
        line-height: 1.6;
    }


    .cont_welfare {
        padding-top: 0;
        background: none;
        display: block;
        padding-bottom: 180px;
    }
    .cont_welfare > div img {
        display: initial;
        width: 138px;
        height: 124px;
    }
    .cont_welfare .cont_title {
        padding:0 47px;
        min-width: auto;
        width: auto;
        margin-bottom: 140px;
    }
    .cont_welfare .cont_title h3 {
        font-size: 22px;
        line-height: 23px;
    }
    .cont_welfare .cont_title p {
        font-size: 14px;
        line-height: 24.9167px;
    }
    .cont_welfare .cont_slide {
        width: auto;
        position: static;
        padding: 0 32px 0 47px;
    }
    .cont_welfare .cont_slide .slide_txt {
        font-size: 28px;
        margin-bottom: 50px;
    }
    .slide {
        margin-bottom: 100px;
    }
    .slide_item {
        height: auto;
        padding-bottom: 20px;
    }
    .slide_item h5 {
        font-size: 19px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .slide_item p {
        font-size: 14px;
        line-height: 1.9;
    }
    .slick-track > div {
        padding: 0 30px;
    }
    .slick-prev::before, .slick-next::before {
        content: none;
    }


    .cont_end {
        display: block;
        height: 500px;
        background-position-x: -150px;
        background-size: 400px;
    }
    .cont_end .cont_title {
        padding-left: 0;
        margin-left: 32px;
    }
    .cont_end .cont_title h3 {
        font-size: 24px;
        padding-top: 112px;
    }


    .footer_wrap {
        display: block;
        width: auto;
        padding: 40px 0 0;
        margin: 0 43px;
    }
    .footer_txt p {
        font-size: 14px;
    }
    .footer_list {
        width: auto;
        padding: 0 5px;
        margin-top: 60px;
    }


    #pop_recruit {
        right: auto;
        bottom: 14px;
        width: calc(100% - 64px);
        height: 56px;
        margin: 0 32px;
        line-height: 59px;
        font-size: 14px;
    }

    #pop_recruit > span {
        top: 10px;
        right: 77px;
    }
}